body {
  margin: 0;
  
}

* {
  font-family: 'Open Sans Condensed',
  sans-serif;
  color: aliceblue;
}

html {
  background-color: #2E1D34;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
